// Tema A
$tema-a-color-base: #ff0000;
$tema-a-color-important: #800000;
$tema-a-color-warning: #ffccee;
$tema-a-font-principal: Arial, sans-serif;
$tema-a-font-secondary: "Times New Roman", serif;
$tema-a-box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.7);

// Tema B
$tema-b-color-base: #0000ff;
$tema-b-color-important: #000080;
$tema-b-color-warning: #00ffff;
$tema-b-font-principal: "Courier New", monospace;
$tema-b-font-secondary: "Arial", sans-serif;
$tema-b-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.7);
